body {
    font-family: Arial, sans-serif;
}

header {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 10px 20px;
    background-color: #f8f8f8;
    /* flex-direction: column; */
}

.larger-h2 {
    font-size: 30px;
}

.logo {
    width: 200px;
    margin-right: 20px;
}

.lab-name {
    font-size: 40px;
    color: #333;
}

nav {
    text-align: center; /* Center the navigation container */
    margin-bottom: 20px; /* Add space below the navigation bar */
}

nav {
    /* background-color: teal;  */
    /* background-color: tan;  */
    background-color: brown; 
    /* padding: 1rem 0;  */
}

nav ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: center; /* Centers the list items horizontally */
}

nav ul li {
    position: relative; /* Allows absolute positioning relative to each li */
}

nav a {
    /* font-family: Arial, Helvetica, sans-serif; */
    text-transform: uppercase;
    padding: 10px 15px;
    color: white;
    text-decoration: none;
    display: block;
}

nav a:hover {
    background-color: #0056b3; /* Color for hover state */
}

.container {
    width: 65%; /* Or whatever maximum width you prefer */
    max-width: 1000px; /* Maximum width of the container */
    margin: 0 auto; /* This centers the container */
    padding: 0 20px; 
    margin-bottom: 30px;
    display: flex;
}

.motto-zh {
    font-family: STKaiti;
    font-size: large;
    /* margin-top: -5px; */
    font-weight: bold;
    /* text-align: right; */
}

.welcome-section {
    display: flex; /* 设置 flex 布局 */
    justify-content: space-between; /* 子元素之间的间距平均分布 */
    align-items: center; /* 垂直居中对齐 */
    width: 100%; /* 父容器宽度占满整个页面宽度 */
  }

.welcome-text {
    flex: 2.5;
    /* padding-right: 100px; */
}

.welcome-text, .welcome-image {
    /* padding: 10px;  */
}

.welcome-image {
    flex: 1;
    /* margin-left: 50px; */
}

.welcome-image img {
    width: 100%; /* 图片宽度自适应其容器宽度 */
    height: auto; /* 图片高度自动调整以保持纵横比 */
}

/* main {
    text-align: center;
} */

footer {
    text-align: center;
    padding: 10px;
    background-color: #f0f0f0;
}

/* for publications */
.publications-container {
    /* width: 75%;  */
    /* margin: 20px auto; */
    /* padding: 0 20px; */
}

.publication {
    /* border: 1px solid #ddd;  */
    /* padding: 15px; */
    margin-bottom: 10px; 
    /* background-color: #f9f9f9;  */
}

.paper-title {
    margin: 0;
    color: #0056b3; /* Color for the paper title */
    font-size: 1em; /* Slightly larger font size for the title */
}

.authors, .publisher, .links {
    margin: 5px 0; 
    color: #333; /* Dark grey text color */
    /* text-align: left; */
}

.publisher {
    font-style: italic; /* Italicize the publisher */
}

.links a {
    color: #007bff; /* Color for links */
    text-decoration: none; /* Removes underline */
}

.links a:hover {
    text-decoration: underline; /* Underlines links on hover for better user interaction */
}

/* .pdf-link, .code-link, .slides-link {
    margin-right: 10px; 
} */
