body {
    font-family: Arial, sans-serif;
}

header {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 10px 20px;
    background-color: #f8f8f8;
    /* flex-direction: column; */
}

.larger-h2 {
    font-size: 30px;
}

.logo {
    width: 200px;
    margin-right: 20px;
}

.lab-name {
    font-size: 40px;
    color: #333;
}

nav {
    text-align: center; /* Center the navigation container */
    margin-bottom: 20px; /* Add space below the navigation bar */
}

nav {
    /* background-color: teal;  */
    /* background-color: tan;  */
    background-color: brown; 
    /* padding: 1rem 0;  */
}

nav ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: center; /* Centers the list items horizontally */
}

nav ul li {
    position: relative; /* Allows absolute positioning relative to each li */
}

nav a {
    /* font-family: Arial, Helvetica, sans-serif; */
    text-transform: uppercase;
    padding: 10px 15px;
    color: white;
    text-decoration: none;
    display: block;
}

nav a:hover {
    background-color: #0056b3; /* Color for hover state */
}

.container {
    width: 65%; /* Or whatever maximum width you prefer */
    max-width: 1000px; /* Maximum width of the container */
    margin: 0 auto; /* This centers the container */
    padding: 0 20px; 
    margin-bottom: 30px;
    display: flex;
}

.motto-zh {
    font-family: STKaiti;
    font-size: large;
    /* margin-top: -5px; */
    font-weight: bold;
    /* text-align: right; */
}

.welcome-section {
    display: flex; /* 设置 flex 布局 */
    justify-content: space-between; /* 子元素之间的间距平均分布 */
    align-items: center; /* 垂直居中对齐 */
    width: 100%; /* 父容器宽度占满整个页面宽度 */
  }

.welcome-text {
    flex: 2.5;
    /* padding-right: 100px; */
}

.welcome-text, .welcome-image {
    /* padding: 10px;  */
}

.welcome-image {
    flex: 1;
    /* margin-left: 50px; */
}

.welcome-image img {
    width: 100%; /* 图片宽度自适应其容器宽度 */
    height: auto; /* 图片高度自动调整以保持纵横比 */
}

/* main {
    text-align: center;
} */

footer {
    text-align: center;
    padding: 10px;
    background-color: #f0f0f0;
}

/* for publications */
.publications-container {
    /* width: 75%;  */
    /* margin: 20px auto; */
    /* padding: 0 20px; */
}

.publication {
    /* border: 1px solid #ddd;  */
    /* padding: 15px; */
    margin-bottom: 10px; 
    /* background-color: #f9f9f9;  */
}

.paper-title {
    margin: 0;
    color: #0056b3; /* Color for the paper title */
    font-size: 1em; /* Slightly larger font size for the title */
}

.authors, .publisher, .links {
    margin: 5px 0; 
    color: #333; /* Dark grey text color */
    /* text-align: left; */
}

.publisher {
    font-style: italic; /* Italicize the publisher */
}

.links a {
    color: #007bff; /* Color for links */
    text-decoration: none; /* Removes underline */
}

.links a:hover {
    text-decoration: underline; /* Underlines links on hover for better user interaction */
}

/* .pdf-link, .code-link, .slides-link {
    margin-right: 10px; 
} */

.team-container {
    display: flex;
    flex-wrap: wrap; /* This allows items to wrap to the next line */
    justify-content: space-around; /* This spreads out the items evenly */
    padding: 0;
    list-style: none;
}

.team-member {
    flex-basis: 30%; /* Adjust this percentage to change how many items are in one row */
    margin: 1%; /* Adjust margin for spacing */
    text-align: center; /* Centers the content */
    box-sizing: border-box;
}

.member-photo {
    width: 60%; /* Makes the image responsive */
    height: auto; /* Maintains aspect ratio */
    /* border-radius: 50%;  */
    margin-bottom: 0.5em; /* Space between image and name */
}

.member-name {
    display: block; /* Ensures the hyperlink takes up the full width of its container */
    text-decoration: none; /* Optional: removes the underline from hyperlinks */
    color: #333; /* Sets the text color */
    font-weight: bold; /* Makes the name bold */
}

/* Responsive layout for smaller screens */
@media (max-width: 768px) {
    .team-member {
        flex-basis: 100%; /* 1 item per row on small screens */
    }
}

.news-section {
    width: 100%; /* Adjust width as necessary */
    margin-bottom: 30px; /* Space below the news section */
}

.news-item {
    display: flex; /* Use flexbox for alignment */
    align-items: center; /* Vertically align the date and content */
    margin-bottom: 15px; /* Space between news items */
}

.news-date {
    font-weight: bold; /* Makes the date bold */
    color: #007bff; /* Sets the text color */
    margin-right: 10px; /* Space between date and news content */
    background-color: #e7f5ff; /* Light background color for the date */
    padding: 2px 6px; /* Padding around the date */
    border-radius: 4px; /* Rounded corners for the background */
    font-family: 'Courier New', monospace; /* Change the font for the date */
}

.news-content {
    margin: 0; /* Resets the margin */
    flex-grow: 1; /* Allows the news content to fill the remaining space */
}