body {
    font-family: Arial, sans-serif;
}

header {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 10px 20px;
    background-color: #f8f8f8;
}

.larger-h2 {
    font-size: 30px;
}

.logo {
    width: 200px;
    margin-right: 20px;
}

.lab-name {
    font-size: 40px;
    color: #333;
}

nav {
    text-align: center;
    margin-bottom: 20px;
}

nav { 
    background-color:  /* 52 92 180 */ #345cb4;
}

nav ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: center;
}

nav ul li {
    position: relative;
}

nav a {
    text-transform: uppercase;
    padding: 10px 15px;
    color: white;
    text-decoration: none;
    display: block;
}

nav a:hover {
    background-color: #0056b3;
}

.container {
    width: 65%;
    max-width: 1000px;
    margin: 0 auto;
    padding: 0 20px; 
    margin-bottom: 30px;
    display: flex;
}

.motto-zh {
    font-family: 'STKaiti', 'KaiTi', 'STSong', 'SimSun', serif;
    font-size: large;
    font-weight: bold;
}

.welcome-section {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
  }

.welcome-text {
    flex: 2.5;
}

.welcome-image {
    flex: 1;
}

.welcome-image img {
    width: 100%;
    height: auto;
}

footer {
    text-align: center;
    padding: 10px;
    background-color: #f0f0f0;
}

.publication {
    margin-bottom: 10px; 
}

.paper-title {
    margin: 0;
    color: #0056b3;
    font-size: 1em;
}

.authors, .publisher, .links {
    margin: 5px 0; 
    color: #333;
}

.publisher {
    font-style: italic;
}

.links a {
    color: #007bff;
    text-decoration: none;
}

.links a:hover {
    text-decoration: underline;
}

.team-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    padding: 0;
    list-style: none;
}

.team-member {
    flex-basis: 30%;
    margin: 1%;
    text-align: center;
    box-sizing: border-box;
}

.member-photo {
    width: 50%;
    height: auto;
    margin-bottom: 0.5em;
}

.member-name {
    display: block;
    text-decoration: none;
    color: #333;
    font-weight: bold;
}

@media (max-width: 768px) {
    .team-member {
        flex-basis: 100%;
    }
    nav ul {
        flex-direction: column;
    }
    nav a {
        padding: 10px;
        border-bottom: 1px solid #ccc;
    }
    header {
        flex-direction: column;
        align-items: center;
    }
    .logo {
        margin-right: 0;
        margin-bottom: 10px;
    }
    .lab-name {
        text-align: center;
        font-size: 24px;
    }
    .larger-h2 {
        font-size: 26px;
    }
    .container {
        width: 80%;
    }
    .welcome-section {
        flex-direction: column;
    }
    .welcome-text, .welcome-image {
        flex: 100%;
    }
    .welcome-image img {
        max-width: 100%;
        width: 66%;
    }
    .news-date {
        display: inline-block;
        min-width: 80px;
        text-align: center;
    }
}

.news-section {
    width: 100%;
    margin-bottom: 30px;
}

.news-item {
    display: flex;
    align-items: center;
    margin-bottom: 15px;
}

.news-date {
    font-weight: bold;
    color: #007bff;
    margin-right: 10px;
    background-color: #e7f5ff;
    padding: 2px 6px;
    border-radius: 4px;
    font-family: 'Courier New', monospace;
    white-space: nowrap;
}

.news-content {
    margin: 0;
    flex-grow: 1;
}

.projects-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

.project-card {
    display: flex;
    align-items: center;
    width: 100%;
    margin-bottom: 20px;
    padding: 10px;
    background-color: #f8f8f8;
    border: 1px solid #ddd;
    border-radius: 5px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
    text-decoration: none;
    color: inherit;
    transition: transform 0.2s;
}

.project-logo {
    width: 80px;
    height: 80px;
    margin-right: 10px;
}

.project-details {
    flex: 1;
}

.project-title {
    margin: 0;
    font-size: 18px;
    color: #333;
}

.project-description {
    margin: 5px 0 0;
    color: #666;
}

.spacing {
    height: 20px;
}

@media (max-width: 768px) {
    .projects-container {
        flex-direction: column;
        align-items: center;
    }

    .project-card {
        width: 100%;
        margin-bottom: 10px;
    }
}

.gallery {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 20px;
    padding: 20px;
    max-width: 1000px;
    width: 100%;
    margin: 0 auto;
}

.gallery-item {
    position: relative;
    overflow: hidden;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    transition: transform 0.3s ease-in-out;
}

.gallery-item img {
    width: 100%;
    height: auto;
    display: block;
    transition: transform 0.3s ease-in-out;
}

.gallery-item:hover {
    transform: scale(1.05);
}

.gallery-item:hover img {
    transform: scale(1.1);
}

.gallery-caption {
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    background: rgba(0, 0, 0, 0.5);
    color: white;
    text-align: center;
    padding: 10px;
    font-size: 16px;
    opacity: 0;
    transition: opacity 0.3s ease-in-out;
}

.gallery-item:hover .gallery-caption {
    opacity: 1;
}

@media (max-width: 768px) {
    .gallery {
        grid-template-columns: repeat(auto-fill, minmax(150px, 1fr));
    }
}
